.main{
    height: 100%;
}
.main .profile{
    filter: grayscale(1);
    position: absolute;
    right: -50%;
    top: 50%;
    transform: translate(0, -50%);
    max-height: 675px;
    box-shadow: 0px 0px 50px -20px #000;
}
.main .section-1{
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 33.333%;
    background-image:linear-gradient(#4b21ff,#4820f3);
    position: relative;
}
.main .section-1 .contacts{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 0 40px 40px;
    font-size: 18px;
    bottom: 0;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}
.main .section-1 .contacts > div{
    margin-bottom: 25px;
}
.main .section-1 .contacts > div > div{
    margin-bottom: 10px;
}

.main .section-1 .contacts .social-media > a > img{
    width: 30px;
    filter: invert(1);
}

.main .section-2{
    height: 100%;
    width: 66.666%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.main .bio{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.main .bio {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.main .bio .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 45px;
}
.main .bio .name .first{
    color: #222222;
}
.main .bio .name .last{
    color: #4820f3;
}
.main .bio .title{
    font-size: 18px;
    margin-top: 10px;
    font-weight: 600;
}
.main .bio .description{
    margin-top: 30px;
    max-width: 315px;
}

.main .bio .works{
    margin-top: 30px;
}
.main .bio .works a{
    padding: 10px 30px;    
    font-size: 20px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
}

.main .bio .works a:hover{
    opacity: .5;
}

.main .bio .works .github{
    margin-right: 20px;
    color: #fff;
    border: solid 2px #4820f3;
    background-image:linear-gradient(#4b21ff,#4820f3);
}
.main .bio .works .medium{
    background: #fff;
    border: solid 2px #222;
    color: #222;
}

